<mat-sidenav-container class="sidenav-container">



  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item routerLink="list" routerLinkActive="active">log</button>
        <button mat-menu-item routerLink="list" routerLinkActive="active">liste</button>
      </mat-menu>

    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
