
<div class="example-container">


  <mat-card  class="logcard"><h1>signin for works!</h1>
  <mat-form-field appearance=standard>
    <mat-label>Login</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Mot de passe</mat-label>
      <input matInput placeholder="Veuillez indiqué votre mot de passe a 8 characteres">
      <mat-hint>mdp oublier !</mat-hint>
    </mat-form-field>
  </p>
  <br>
  <button mat-button routerLink="index" routerLinkActive="active">C'partie !</button>
</mat-card>
</div>
